{% extends "_layouts" %}

{% block main %}
	<section class="py-s12 my-s12">
		<h1 class="text-center">Site Homepage</h1>
		<div class="w-full flex flex-col gap-y-s4 justify-center items-center py-s8">
		<a href="#" class="text-center font-semibold text-gray-800 interact:text-blue-900">Test Link</a>
		<a 
			href="#"
			class="text-center font-semibold text-gray-800 group"
		>
			Test Link with Group
			<span class="group-interact:text-blue-500">The test!</span>
		</a>
		</div>
	</section>
{% endblock %}
