{% extends "_layouts" %}

{% block main %}
	<section class="py-s12 my-s12">
		<h1 class="text-center">Site Homepage</h1>
		<div class="w-full flex justify-center items-center pt-s6">
			<icon name="{{ entry.iconPicker.label }}" size="12"></icon>
		</div>
	</section>
{% endblock %}