{% extends "_layouts" %}

{% block main %}
	<section class="py-s12 my-s12">
		<h1 class="text-center">Site Homepage</h1>
		<div class="group interact p-s8 border-2 border-black">
			<h2 class="text-center text-black group-child-state:interact:text-blue-300">test</h2>
		</div>
	</section>
{% endblock %}
