<header class="flex justify-between items-center px-s8 py-s5 bg-blue-600 text-white">
	<a class="text-24" href="/">Website</a>

	<nav>
		<ul class="flex space-x-s3">
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</header>
