{% extends '_layouts/base' %}

{% block body %}
  <div id="app">
    {# {% include '_includes/navigation' %} #}

		<main>
			{% block main %}
			{% endblock %}
		</main>

    {# {% include '_includes/footer' %} #}
	</div>
{% endblock %}
