{% extends '_layouts/base' %}

{% block body %}
	<div id="app" class="min-h-screen flex flex-col">
		<a href="#main" class="absolute left-0 top-[76px] bg-blue-800 text-white px-s4 py-s2 rounded-br-sm -translate-y-[1000px] interact:translate-y-0 interact:outline-none interact:drop-shadow-card transition-all duration-300 z-0">Skip to content</a>
		{% include '_includes/header' %}

		<main class="flex-grow" id="main">
			{% block main %}
			{% endblock %}
		</main>

		{% include '_includes/footer' %}

		{#
		## Any content which should appear *outside* of your typical stacking context should go here.
		## Example: a modal dialog or a dropdown menu.
		#}
	</div>
{% endblock %}
